<action-bar title="活动报名">
    <left-btn></left-btn>
    <right-btn ng-click="activity.goSearch()">
        <i class="fa fa-search" style="font-size:18px"></i>
    </right-btn>
</action-bar>

<scroller class="bd"
          height="activity.scrollerHeight"
          on-pull-up-loading="activity.loadMore()"
          list-data="activity.listOfActivities">
    <scroller-body>
        <list>
            <list-item ng-repeat="item in activity.listOfActivities"
                       item-data="item"
                       tpl="activity"
                       target="activity.targetRouter"></list-item>
        </list>
    </scroller-body>
</scroller>

<div ui-view>

</div>