<div class="one-px-border"></div>
<a href="#" class="article_link clearfix">
    <h3 class="dotdot line3 ">{{$ctrl.itemData.title}}</h3>

    <div class="list_image">
        <ul class="clearfix">

            <li class="list_img_holder" style="background: none;">
                <img src="http://p3.pstatp.com/list/96c000817b9bfdf0155" style="opacity: 1;">
            </li>
            <li class="list_img_holder" style="background: none;">
                <img src="http://p3.pstatp.com/list/96c000817b9bfdf0155" style="opacity: 1;">
            </li>
            <li class="list_img_holder" style="background: none;">
                <img src="http://p3.pstatp.com/list/96c000817b9bfdf0155" style="opacity: 1;">
            </li>

        </ul>
    </div>


    <div class="item_info">

        <span class="src space">新京报政事儿</span>
        <span class="time" title="2016-07-01 09:11">6小时前</span>

    </div>

</a>