<div class="one-px-border"></div>
<a href="javascript" class="article_link clearfix middle_mode"
   link-action="go"
   link-action-param="{'uri':$ctrl.target,'param':{'itemId':$ctrl.itemData.autoId}}">

    <div class="desc" style="vertical-align: middle;">
        <h3 class="dotdot line3 image-margin-right">{{$ctrl.itemData.title}}</h3>

        <div class="item_info" style="margin-top: 12px;">

            <span class="src space">{{$ctrl.itemData.source}}</span>
            <span class="time">{{$ctrl.itemData.publishTime}}</span>
            <span class="readNum" ng-if="$ctrl.itemData.showReadNum">&nbsp;| {{$ctrl.itemData.readNum}}阅读</span>
        </div>

    </div>
    <div class="list_img_holder"
         style="vertical-align: middle; background-image:url({{$ctrl.itemData.coverUrl[0].value}});" ng-style="$ctrl.theHeight">
    </div>

</a>