<div class="one-px-border"></div>
<a href="javascript:;" class="article_link clearfix"
   link-action="go"
   link-action-param="{'uri':$ctrl.target,'param':{'itemId':$ctrl.itemData.autoId}}">
    <h3 class="dotdot line3 ">{{$ctrl.itemData.title}}</h3>

    <div class="list_img_holder_large list_img_holder_large_fix img-cover"
         style="background-image:url({{$ctrl.itemData.coverUrl[0].value}});"
         ng-style="$ctrl.theHeight">

        <div class="play-btn-wrap">
            <div class="play-btn">
                <!--<div class="triangle"></div>-->
                <i class="fa fa-play triangle2"></i>
            </div>
        </div>
    </div>

    <div class="item_info">

        <span class="src space">{{$ctrl.itemData.source}}</span>
        <span class="time">{{$ctrl.itemData.publishTime}}</span>

    </div>

</a>