<div class="one-px-border"></div>
<a href="javascript:;" class="article_link clearfix "
   link-action="go"
   link-action-param="{'uri':$ctrl.target,'param':{'itemId':$ctrl.itemData.autoId}}">

    <h3 class="dotdot line3 ">{{$ctrl.itemData.title}}</h3>
    <div class="item_info">
        <span class="src space">{{$ctrl.itemData.source}}</span>
        <span class="time">{{$ctrl.itemData.publishTime}}</span>
        <span class="readNum" ng-if="$ctrl.itemData.showReadNum">&nbsp;| {{$ctrl.itemData.readNum}}阅读</span>
    </div>
</a>