<div class="one-px-border"></div>
<a href="javascript:;" class="article_link clearfix"
   link-action="go" link-action-param="{'uri':$ctrl.target,'param':{'itemId':$ctrl.itemData.autoId}}">

    <h3 class="dotdot line3 ">{{$ctrl.itemData.title}}</h3>
    <div class="list_img_holder_large list_img_holder_large_fix img-cover"
         style="background-image:url({{$ctrl.itemData.overUrl}})"
         ng-if="$ctrl.itemData.overUrl"
         ng-style="$ctrl.theHeight">
    </div>

    <div class="item_info">

        <div class="vux-flexbox vux-flex-row">
            <div class="vux-flexbox-item" style="margin-left: 8px;">

                <div class="vux-flexbox vux-flex-col">
                    <div class="vux-flexbox-item" style="margin-top: 8px;">
                        <span class="flex-demo">{{$ctrl.itemData.hoster}}</span>
                    </div>
                    <div class="vux-flexbox-item" style="margin-top: 8px;">
                        <span class="flex-demo"><i class="fa fa-clock-o icon-item"></i>{{$ctrl.itemData.startTimeText}}开始</span>
                    </div>
                    <div class="vux-flexbox-item" style="margin-top: 8px;">
                        <span class="flex-demo"><i class="fa fa-map-marker icon-item"></i>{{$ctrl.itemData.location}}</span>
                    </div>
                </div>


            </div>
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 17.5%; text-align: center;">
                <span class="src space">{{$ctrl.itemData.signNum}}人<br>报名</span>
            </div>

        </div>
    </div>

</a>