<div class="one-px-border"></div>
<a href="javascript:;" class="article_link clearfix"
   link-action="go" link-action-param="{'uri':$ctrl.target,'param':{'itemId':$ctrl.itemData.id}}">

    <h3 class="dotdot line3 ">{{$ctrl.itemData.title}}</h3>
    <div class="list_img_holder_large list_img_holder_large_fix" style="background: none;">
        <img src="http://p3.pstatp.com/large/8db0008d794bbb0fb37" style="opacity: 1;">
    </div>

    <div class="item_info">

        <div class="vux-flexbox vux-flex-row">
            <div class="vux-flexbox-item" style="margin-left: 8px;">

                <div class="vux-flexbox vux-flex-col">
                    <div class="vux-flexbox-item" style="margin-top: 8px;">
                        <span class="flex-demo">XXX居委会</span>
                    </div>
                    <div class="vux-flexbox-item" style="margin-top: 8px;">
                        <span class="flex-demo"><i class="fa fa-clock-o icon-item"></i>2016年7月7日开始</span>
                    </div>
                    <div class="vux-flexbox-item" style="margin-top: 8px;">
                        <span class="flex-demo"><i class="fa fa-map-marker icon-item"></i>xxx路,xxx号</span>
                    </div>
                </div>


            </div>
            <div class="vux-flexbox-item" style="margin-left: 8px; flex: 0 0 17.5%; text-align: center;">
                <span class="src space">1552人<br>报名</span>
            </div>

        </div>
    </div>

</a>