<div class="one-px-border"></div>
<a href="" class="article_link clearfix middle_mode">

    <div class="desc" style="vertical-align: middle;">

        <h3 class="dotdot line3 image-margin-right">{{$ctrl.itemData.title}}</h3>

        <div class="item_info" style="margin-top: 12px;">

            <span class="src space">手机人民网</span>
            <span class="time" title="2016-07-01 08:51" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">8小时前</span>

        </div>

    </div>
    <div class="list_img_holder" style="vertical-align: middle; background: none;">
        <img src="http://p3.pstatp.com/list/9a600037785f19072f7" style="opacity: 1;">

    </div>

</a>