<action-bar title="{{news.theColumnKey | kv:'columns'}}">
    <left-btn></left-btn>
    <right-btn ng-click="news.goSearch()">
        <i class="fa fa-search" style="font-size:18px"></i>
    </right-btn>
</action-bar>

<scroller class="bd"
          height="news.scrollerHeight"
          on-pull-up-loading="news.loadMoreNews()"
          list-data="news.listOfNews">
    <scroller-body>
        <list>
            <list-item ng-repeat="item in news.listOfNews"
                       item-data="item"
                       tpl="{{item.showType}}"
                       target="news.targetRouter"></list-item>
        </list>
    </scroller-body>
</scroller>

<div ui-view>

</div>

