<article id="pageletArticleContent" class="box">

    <div class="video-wrapper" style="background-image: none;">
        <div class="tt-video-box" style="margin: 0px auto;">
            <video ng-src="{{$ctrl.theArticle.videoUrl}}"
                   type="video/mp4" controls
                   poster="{{$ctrl.theArticle.coverUrl}}" preload="none" webkit-playsinline
                   style="width:100%;"></video>
        </div>
    </div>


    <div class="article-detail">

        <h1 class="title">{{$ctrl.theArticle.title}}</h1>
        <div class="rich_media_meta_list">
            <em id="post-date" class="rich_media_meta rich_media_meta_text">{{$ctrl.theArticle.publishTime}}</em>
            <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">{{$ctrl.theArticle.source}}</span>
        </div>
        <div ng-transclude="extend">

        </div>
        <div class="article-content" style="" ng-bind-html="$ctrl.theArticle.content">

        </div>
        <!--<div class="unfold-field"-->
             <!--style="display: block; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">-->
            <!--<a href="javascript:;" class="text-link unfold-btn vwo-unfold" ga_category="article" ,="" ga_label=""-->
               <!--ga_event="unfold">-->
                <!--<p>展开全文<span></span></p>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</article>
