<div class="team-item">
    <flexbox align="flex-start">
        <flexbox-item span="{{1/4}}" ng-click="$ctrl.goTeamNews()">
            <div class="image-cover"
                 style="background-image:url({{$ctrl.itemData.cover}});"
                 ng-style="$ctrl.itemCoverStyle" ng-if="$ctrl.itemData.cover"></div>
            <div class="image-cover"
                 style="background-image:url(/public/images/team.png);"
                 ng-style="$ctrl.itemCoverStyle" ng-if="!$ctrl.itemData.cover"></div>
        </flexbox-item>
        <flexbox-item>
            <flexbox gutter="8" align="flex-start">
                <flexbox-item style="font-size: 14px;" ng-click="$ctrl.goTeamNews()">
                    <div style="font-size: 18px;">{{$ctrl.itemData.name}}</div>
                    <div>{{$ctrl.itemData.description}}</div>
                </flexbox-item>
                <flexbox-item span="{{1/3}}">
                    <div ng-if="$ctrl.isOnList()" class="button-box">
                        <span class="weui_btn weui_btn_default weui_btn_mini action-btn" ng-click="$ctrl.goTeamNews()">了解我们</span>
                    </div>
                    <div class="button-box">
                        <span class="weui_btn weui_btn_default weui_btn_mini action-btn" ng-click="$ctrl.quitConfirm=true" ng-if="$ctrl.itemData.joinedStatus === 'ADUTIED'">退出</span>
                        <span class="weui_btn weui_btn_primary weui_btn_mini action-btn" ng-click="$ctrl.goJoinTeam()" ng-if="!$ctrl.itemData.joined">加入我们</span>
                        <span class="weui_btn weui_btn_primary weui_btn_mini action-btn weui_btn_disabled" ng-if="$ctrl.itemData.joinedStatus === 'NEW'">待审核</span>
                        <span class="weui_btn weui_btn_default weui_btn_mini action-btn" ng-click="$ctrl.rejoin()" ng-if="$ctrl.itemData.joinedStatus === 'REJECTED'">已拒绝</span>
                    </div>
                    <div ng-if="!$ctrl.isOnList() && $ctrl.itemData.mobile" class="button-box">
                        <a class="weui_btn weui_btn_default weui_btn_mini action-btn" href="tel:{{$ctrl.itemData.mobile}}">联系电话</a>
                    </div>
                    <div ng-if="!$ctrl.isOnList()" class="button-box">
                        <span class="weui_btn weui_btn_default weui_btn_mini action-btn" ng-click="$ctrl.goTeamFeedback()">我有话说</span>
                    </div>
                </flexbox-item>
            </flexbox>
        </flexbox-item>
    </flexbox>
</div>
<confirm show="$ctrl.openConfirm" title="拒绝原因" confirm-text="重新加入" cancel-text="取消" on-confirm="$ctrl.goJoinTeam()">
    <span ng-if="$ctrl.itemData.remarks">{{$ctrl.itemData.remarks}}</span>
    <span ng-if="!$ctrl.itemData.remarks">暂无原因</span>
</confirm>
<confirm show="$ctrl.quitConfirm" title="提示" confirm-text="退出" cancel-text="取消" on-confirm="$ctrl.quitTeam()">
    确认退出该团队吗？
</confirm>